################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/CraftsmanApp/.vs/CraftsmanApp/v16/Server/sqlite3
/Frontend/CraftsmanApp/.vs/CraftsmanApp/DesignTimeBuild
*.suo
*.user
_ReSharper.*
bin
obj
packages