################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/CraftsmanApp/.vs/CraftsmanApp/v16/Server/sqlite3
/Frontend/CraftsmanApp/.vs/CraftsmanApp/DesignTimeBuild
/CarpenterAPI/.vs/CarpenterAPI.*
*.suo
*.user
*.vs
_ReSharper.*
bin
obj
packages
/CarpenterAPI/.idea/.idea.CarpenterAPI/.idea/workspace.xml
